<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nanoarch</title>
</head>
<style>
    html{
        padding: 20px;
    }

    h1 {
        color: green;
        font-size: 50px;
        margin-bottom: 10px;
    }
</style>
<body>
    <h1>About us</h1>
    <p>We are a startup company triving to drive the architectural industry of <mark>Ethiopia</mark> </p>
    <nav>
        <a href="/login">Login</a>
        <a href="/">Home</a>
    </nav>
</body>
</html>