<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="container main">
            <%- include('./partials/nav.ejs')%>

                <h1 class="text text-primary mb-3">About us</h1>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint eius qui delectus tempore autem
                    ratione debitis aspernatur, minus voluptatem sunt, in obcaecati fugiat quibusdam a, temporibus
                    accusantium atque illum enim.
                    Mollitia eius incidunt ipsum inventore tempora quo explicabo earum ipsa repellat voluptatibus
                    officia enim exercitationem alias minima ea laboriosam, modi quae, laudantium cumque quas
                    temporibus? Eaque distinctio veniam soluta tempora?</p>

        </div>

        <div class="container">
            <%- include('./partials/footer.ejs') %>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>

</html>